<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>EXO test</span>

    <span fxFlex></span>
    
    <a mat-button href="http://alalar.000webhostapp.com/">alalar Web</a>
    <a mat-button href="mailto:alalar@wanadoo.es">@</a>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>language</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button class="ESlanguage" mat-menu-item (click)="switchLanguage('es')">
        <span><small>ES</small>&nbsp;&nbsp;Español</span>
      </button>
      <button class="ENlanguage" mat-menu-item (click)="switchLanguage('en')">
        <span><small>EN</small>&nbsp;&nbsp;English</span>
      </button>
    </mat-menu>
    
  </mat-toolbar-row>
</mat-toolbar>

<consultant-app></consultant-app>


